<head>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.min.js'></script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js' rel='stylesheet' />

	<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
  
  <link href='http://localhost:8000/static/style/theme.css' rel='stylesheet' />
	<script src='http://localhost:8000/static/script/legend.js'></script>
	<script src='http://localhost:8000/static/script/boundary.js'></script>
	<script src='http://localhost:8000/static/script/chartdata.js'></script>
	<script src='http://localhost:8000/static/script/init.js'></script>
</head>

<body>
  <div class="container">
    <div class="selector">
      <form>
        <h1>View</h1>
        <input name="viewRadio" id="defaultView" type="radio" value="heatmap"> Heatmap <br>
        <input name="viewRadio" type="radio" value="chart"> Chart
      </form>
    </div>

    <!--
    <div class="selector">
      <form>
        <h1>Boundary</h1>
        <input name="boundaryRadio" id="defaultBoundary" type="radio" name="boundary" value="districts"> Police Districts <br>
        <input name="boundaryRadio" type="radio" name="boundary" value="beats"> Police Beats <br>
        <input name="boundaryRadio" type="radio" name="boundary" value="areas"> Community Areas
      </form>
    </div>
    -->
  
    <div class="selector">
      <h1>Mode</h1>
      <input name="modeRadio" id="defaultMode" type="radio" value="percentage_solved"> Solved [Normalized] <br>
      <input name="modeRadio" type="radio" value="least_to_most_solved"> Cases Solved <br>
      <input name="modeRadio" type="radio" value="least_to_most_occurences"> Occurrences <br>
      <input name="modeRadio" type="radio" value="not_solved"> Cases Not Solved 
    </div>

    <div class="selector">
      <h1>Data</h1>
      <span>Showing: <span id="showingTxt">ALL CRIMES</span></span> </br>
      <button id="modalBtn">Select data</button>
    </div>
  
    <div class="selector">
      <h1>Date</h1>
      <form>
        From date:
        <input id="fromDate" class="dateSelector" value="2001-01-01" type="date" name="fromDate">
      </form>
      <form>
          To date:
          <input id="toDate" class="dateSelector" value="2019-01-01" type="date" name="toDate">
        </form>
    </div>

    <div id="heatmapContainer">
        <div class="legend">
            <div class="gradientScale"></div>
            <div class="legend_text">
              <div class="legend_text_top">
                Most percentage of cases solved
              </div>
              <div class="legend_text_bottom">
                Least percentage of cases solved
              </div>
            </div>
        </div>
    
        <div id='map' style='width: 800px; height: 600px;'></div>
    </div>

    <div id="chartContainer">
      District: <select id="districtSelector">
        <option selected="selected" value="*">All</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="22">22</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="31">31</option>
      </select>
      <canvas id="chart" width="800px" height="500px"></canvas>
    </div>
    
  </div>
  
  <div id="processed_until_text" style="width:100%; height:20px; text-align: center; margin: 2px;">
    <h3 id="processed_until_text">Including data from: NaN, to: NaN.</h3>

  </div>

  <div id="dataModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="radiolist-container">
      
            <form>
              <div class="radiolist">
                <input name="dataRadio" id="defaultData" type="radio" value="ALL CRIMES"> ALL CRIMES <br>
                <input name="dataRadio" type="radio" value="OTHER OFFENSE"> OTHER OFFENSE <br>
                <input name="dataRadio" type="radio" value="KIDNAPPING"> KIDNAPPING <br>
                <input name="dataRadio" type="radio" value="NARCOTICS"> NARCOTICS <br>
                <input name="dataRadio" type="radio" value="MOTOR VEHICLE THEFT"> MOTOR VEHICLE THEFT <br>
                <input name="dataRadio" type="radio" value="DECEPTIVE PRACTICE"> DECEPTIVE PRACTICE <br>
                <input name="dataRadio" type="radio" value="OFFENSE INVOLVING CHILDREN"> OFFENSE INVOLVING CHILDREN <br>
                <input name="dataRadio" type="radio" value="ASSAULT"> ASSAULT <br>
                <input name="dataRadio" type="radio" value="WEAPONS VIOLATION"> WEAPONS VIOLATION <br>
                <input name="dataRadio" type="radio" value="BURGLARY"> BURGLARY <br>
                <input name="dataRadio" type="radio" value="SEX OFFENSE"> SEX OFFENSE <br>
                <input name="dataRadio" type="radio" value="ROBBERY"> ROBBERY <br>
                <input name="dataRadio" type="radio" value="INTERFERENCE WITH PUBLIC OFFICE"> INTERFERENCE WITH PUBLIC OFFICER<br> 
                <input name="dataRadio" type="radio" value="PUBLIC PEACE VIOLATION"> PUBLIC PEACE VIOLATION <br>
                <input name="dataRadio" type="radio" value="THEFT"> THEFT <br>
                <input name="dataRadio" type="radio" value="CRIM SEXUAL ASSAUL"> CRIM SEXUAL ASSAULT<br>
                <input name="dataRadio" type="radio" value="BATTERY"> BATTERY <br>
                <input name="dataRadio" type="radio" value="PROSTITUTION"> PROSTITUTION
              </div>

              <div class="radiolist">
                <input name="dataRadio" type="radio" value="CRIMINAL TRESPASS">CRIMINAL TRESPASS <br>
                <input name="dataRadio" type="radio" value="CRIMINAL DAMAGE">CRIMINAL DAMAGE <br>
                <input name="dataRadio" type="radio" value="CONCEALED CARRY LICENSE VIOLATION">CONCEALED CARRY LICENSE VIOLATION <br>
                <input name="dataRadio" type="radio" value="HOMICIDE">HOMICIDE <br>
                <input name="dataRadio" type="radio" value="LIQUOR LAW VIOLATION">LIQUOR LAW VIOLATION <br>
                <input name="dataRadio" type="radio" value="ARSON">ARSON <br>
                <input name="dataRadio" type="radio" value="STALKING">STALKING <br>
                <input name="dataRadio" type="radio" value="GAMBLING">GAMBLING <br>
                <input name="dataRadio" type="radio" value="INTIMIDATION">INTIMIDATION <br>
                <input name="dataRadio" type="radio" value="OBSCENITY">OBSCENITY <br>
                <input name="dataRadio" type="radio" value="NON-CRIMINAL">NON-CRIMINAL<br>
                <input name="dataRadio" type="radio" value="NON-CRIMINAL (SUBJECT SPECIFIED)">NON-CRIMINAL (SUBJECT SPECIFIED)<br>
                <input name="dataRadio" type="radio" value="OTHER NARCOTIC VIOLATION">OTHER NARCOTIC VIOLATION<br>
                <input name="dataRadio" type="radio" value="PUBLIC INDECENCY">PUBLIC INDECENCY<br>
                <input name="dataRadio" type="radio" value="HUMAN TRAFFICKING">HUMAN TRAFFICKING<br>
                <input name="dataRadio" type="radio" value="NON - CRIMINAL">NON - CRIMINAL<br>
                <input name="dataRadio" type="radio" value="RITUALISM">RITUALISM <br>
                <input name="dataRadio" type="radio" value="DOMESTIC VIOLENCE">DOMESTIC VIOLENCE
              </div>
            </form>
          
        </div>
      </div>
      
    </div>
  </div>
    
    <script>
      window.onload = init();

      mapboxgl.accessToken = 'pk.eyJ1IjoibHVrZWxpbmt3YWxrZXIiLCJhIjoiY2s0ZnB6cHJwMG52NjNubnB2N3FxeHRnOSJ9.yHUoAzFbuKsG50993v22Mw';

      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/lukelinkwalker/ck4frtabn44m21cmwipgvezwi',
        zoom: 9,
        center: [-87.623177, 41.881832],
        maxBounds: [
          [-88.15357, 41.55598], // Southwest
          [-87.17329, 42.10465]  // Northeast
        ]
      });
    </script>
</body>