.container {
  width: 800px;
  margin: auto;
  position: relative;
}

.selector {
    width: 200px;
    float: left;
}

.gradientScale {
    position: absolute;
    bottom: 0;
    
    width: 20px;
    height: 600px;

    background-color:green;
    background-image: linear-gradient(to bottom, #00ff11 0%,#ffff00 50%,#ff0000 100%);
    opacity: 0.5;
}

.legend {
    position: absolute;
    left: 805;
    bottom: 0;

    height: 600px;
}

.legend_text {
    width: 250px;
    overflow: hidden;
    padding-left: 25px;
}

.legend_text_top {
    position: absolute;
    top: 0;
}

.legend_text_bottom {
    position: absolute;
    bottom: 0;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 800px;
    height: 400px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.radiolist {
    float: left;
    margin-right: 20px;
    border: 1px solid #000;
    padding: 10px;
}